In [1]:
from abydos.phonetic import *
from abydos.fingerprint import *
from abydos.distance import *

import pandas as pd
import numpy as np

In [2]:
names = pd.read_csv('../tests/corpora/uscensus2000.csv',
                    comment='#', index_col=1, usecols=(0,1), keep_default_na=False)
names.head()

          name
rank
1        SMITH
2      JOHNSON
3     WILLIAMS
4        BROWN
5        JONES

In [3]:
reverse_soundex = {}
for name in names.name:
    sdx = soundex(name)
    if sdx not in reverse_soundex:
        reverse_soundex[sdx] = set()
    reverse_soundex[sdx].add(name)

In [4]:
reverse_soundex[soundex('WILLIAMSON')]

{'WALENGA',
 'WALING',
 'WALINSKI',
 'WALLENIUS',
 'WALLENS',
 'WALLENSTEIN',
 'WALLING',
 'WALLINGA',
 'WALLINGER',
 'WALLINGFORD',
 'WALLINGSFORD',
 'WALLINGTON',
 'WALMSLEY',
 'WEHLING',
 'WELENC',
 'WELLENS',
 'WELLENSTEIN',
 'WELLING',
 'WELLINGER',
 'WELLINGHOFF',
 'WELLINGS',
 'WELLINGTON',
 'WELLINS',
 'WELLMAKER',
 'WELLONS',
 'WELMAKER',
 'WELNIAK',
 'WHALING',
 'WHEELING',
 'WHEELINGTON',
 'WIELENGA',
 'WIELINSKI',
 'WILAMOWSKI',
 'WILENS',
 'WILENSKY',
 'WILINSKI',
 'WILLAIMS',
 'WILLAMSON',
 'WILLEMS',
 'WILLEMSE',
 'WILLEMSEN',
 'WILLEMSSEN',
 'WILLENS',
 'WILLIAMS',
 'WILLIAMSBEY',
 'WILLIAMSBROWN',
 'WILLIAMSEN',
 'WILLIAMSJONES',
 'WILLIAMSLEE',
 'WILLIAMSMAE',
 'WILLIAMSON',
 'WILLIAMSSMITH',
 'WILLIAMSTON',
 'WILLIANSON',
 'WILLIMAS',
 'WILLIMSON',
 'WILLING',
 'WILLINGER',
 'WILLINGHAM',
 'WILLINGS',
 'WILLINGTON',
 'WILLINK',
 'WILLINS',
 'WILLLIAMS',
 'WILLMES',
 'WILLMS',
 'WILMES',
 'WILMS',
 'WILMSEN',
 'WILMSMEYER',
 'WOHLENHAUS',
 'WOLANSKI',
 'WOLANSKY',
 'WOLENSKI',
 'WOLENSKY',
 'WOLINSKI',
 'WOLINSKY',
 'WOLLENZIEN',
 'WOLNIAK',
 'WOLNIEWICZ',
 'WOLNIK',
 'WOLYNIEC',
 'WOOLEMS',
 'WOOLINGTON',
 'WOOLLUMS',
 'WOOLUMS'}

In [5]:
pd.DataFrame.from_dict({collision: levenshtein('WILLIAMSON', collision) for 
                        collision in reverse_soundex[soundex('WILLIAMSON')]}, 'index',
                       columns=['Levenshtein distance from WILLIAMSON'])

               Levenshtein distance from WILLIAMSON
WEHLING                                           7
WILLIAMSJONES                                     3
WOLNIAK                                           6
WILLAMSON                                         1
WILLIAMSBROWN                                     3
WILLINGTON                                        3
WILMSEN                                           4
WELLONS                                           6
WOLANSKY                                          6
WILLEMSEN                                         3
WALING                                            7
WILLINS                                           4
WILLIANSON                                        1
WOLINSKY                                          6
WELLENS                                           6
WELLINGTON                                        4
WILLIMAS                                          4
WILLENS                                           5
WILLIAMSTON                                       1
WOLNIEWICZ                                        7
WALMSLEY                                          7
WILINSKI                                          5
WELLINS                                           5
WILENS                                            6
WOOLLUMS                                          6
WILLINK                                           5
WALLINGA                                          6
WOLLENZIEN                                        6
WELENC                                            8
WILLIAMSON                                        0
...                                             ...
WILMSMEYER                                        7
WILLINGER                                         5
WILLIAMSSMITH                                     5
WALLINGFORD                                       6
WELNIAK                                           6
WELLINGS                                          5
WILLAIMS                                          4
WOLENSKI                                          7
WILLIAMSMAE                                       3
WILLIAMSBEY                                       3
WILLMES                                           5
WILLMS                                            4
WALINSKI                                          6
WOOLUMS                                           6
WALLENS                                           6
WILLIAMSLEE                                       3
WILAMOWSKI                                        6
WHEELINGTON                                       6
WELLINGHOFF                                       6
WILLINGHAM                                        5
WALLINGER                                         6
WOOLEMS                                           6
WELMAKER                                          7
WOLINSKI                                          6
WIELINSKI                                         5
WOLYNIEC                                          8
WHEELING                                          8
WALLINGTON                                        4
WOLANSKI                                          6
WALLENSTEIN                                       7

[86 rows x 1 columns]